body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 120px;
}

input {
    padding: 10px;
    width: 250px;
    border-radius: 6px;
    border: none;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

button:hover {
    background-color: #45a049;
}
